# Maven
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*

.project
.classpath
.settings/
.idea/
*.iml
*.ipr
*.iws
.vscode/
nbproject/private/
.nb-gradle/

sc-server/config/dbconfig.properties

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
*~
